@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

* :not(html) {
    overflow-y: hidden;
}